.cart-contents{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 2rem;
}
.cart-container{
    border-radius: 20px;
    background-image: url("/src/images/bg8.jpg");
    color: white;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}